<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtb.metadatahub.repository.mysql.ChangeMakerDao">

    <parameterMap id="changeMakerBean" type="com.dtb.metadatahub.entity.ChangeMakerDO"/>

    <insert id="addChangeMaker" parameterMap="changeMakerBean">
        INSERT INTO ods_change_maker 
        (id, type, change_maker, qualified_name, create_time, update_time)
        VALUES 
        (#{id}, #{type}, #{changeMaker}, #{qualifiedName}, #{createTime}, #{updateTime})
    </insert>
    
    <select id="getByQualifiedName" parameterType="java.lang.String" resultType="com.dtb.metadatahub.entity.ChangeMakerDO">
    	SELECT * FROM ods_change_maker WHERE qualified_name = #{value}
    </select>
    
    <update id="updateChangeMaker" parameterMap="changeMakerBean">
    	UPDATE ods_change_maker 
    	SET change_maker = #{changeMaker}, 
    		update_time = #{updateTime}
    	WHERE qualified_name = #{qualifiedName}
    </update>

</mapper>